@import "~@angular/material/theming";
@import "../src/assets/scss/CustomVariable";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue
$my-app-primary: mat-palette($mat-grey, 900);
$my-app-primary-dark: mat-palette($mat-grey, 200);
$my-app-accent: mat-palette($mat-amber, 400);
$my-app-success: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$my-app-warn: mat-palette($mat-red);
$my-app-warn-dark: mat-palette($mat-red, 500);

// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
$my-app-dark-theme: mat-dark-theme(
  $my-app-primary-dark,
  $my-app-accent,
  $my-app-warn-dark
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($my-app-theme);

.lightMode {
  // @include angular-material-theme($my-app-theme);

  a {
    color: #000 !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }

  .highcharts-background {
    fill: $offwhite;
  }
  .mat-card {
    background-color: $offwhite !important;
  }

  // calendar
  .fc-daygrid-event {
    border-color: $offwhite !important;
    background-color: $offwhite !important;
  }
}

.darkMode {
  @include angular-material-theme($my-app-dark-theme);
  // card
  .mat-card {
    background-color: $charcoal !important;
  }

  // highcharts
  .highcharts-background {
    fill: $charcoal;
  }
  .highcharts-title,
  .highcharts-subtitle,
  .highcharts-axis-labels text {
    fill: $white !important;
  }
  
  .highcharts-data-label text {
    text-shadow: rgb(54, 69, 79) 2px 0px 0px, rgb(54, 69, 79) 1.75517px 0.958851px 0px, rgb(54, 69, 79) 1.0806px 1.68294px 0px, rgb(54, 69, 79) 0.141474px 1.99499px 0px, rgb(54, 69, 79) -0.832294px 1.81859px 0px, rgb(54, 69, 79) -1.60229px 1.19694px 0px, rgb(54, 69, 79) -1.97998px 0.28224px 0px, rgb(54, 69, 79) -1.87291px -0.701566px 0px, rgb(54, 69, 79) -1.30729px -1.5136px 0px, rgb(54, 69, 79) -0.421592px -1.95506px 0px, rgb(54, 69, 79) 0.567324px -1.91785px 0px, rgb(54, 69, 79) 1.41734px -1.41108px 0px, rgb(54, 69, 79) 1.92034px -0.558831px 0px;
    fill: $white !important;
    font-size: 12px !important;
  }

  // calendar
  .fc .fc-toolbar-title,
  .mat-card-content {
    color: $white;
  }
  .fc-daygrid-event {
    border-color: $charcoal !important;
    background-color: $charcoal !important;
  }

  .income-item {
    color: $limegreen !important;
  }

  .expense-item {
    color: $neonred !important;
  }

  a {
    color: $white !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

@import "assets/scss/global.scss";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
