@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue
$my-app-primary: mat-palette($mat-grey, 900);
$my-app-primary-dark: mat-palette($mat-grey, 200);
$my-app-accent: mat-palette($mat-amber, 400);
$my-app-success: mat-palette($mat-green);

// The warn palette is optional (defaults to red).
$my-app-warn: mat-palette($mat-red);
$my-app-warn-dark: mat-palette($mat-red, 800);


// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
$my-app-dark-theme: mat-dark-theme(
  $my-app-primary-dark,
  $my-app-accent,
  $my-app-warn-dark
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-app-theme);

.lightMode {
  @include angular-material-theme($my-app-theme);

  a {
    color: #000 !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }
}

.darkMode {
  @include angular-material-theme($my-app-dark-theme);
  .highcharts-background {
    fill: #696969;
  }
  .mat-card {
    background-color: #696969 !important;
  }

  .highcharts-title,
  .highcharts-subtitle,
  .highcharts-axis-labels text {
    fill: #fff !important;
  }
  .fc .fc-toolbar-title, .mat-card-content {
    color: #fff;
  }

  .income-item {
    color: #014201 !important;
  }

  .expense-item {
    color: #b00000 !important;
  }

  a {
    color: #fff !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

@import "assets/scss/global.scss";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";
