@use '@angular/material' as mat;

// Include the common styles for Angular Material first
@include mat.core();

// Import your custom variables after Material core
@import "../src/assets/scss/CustomVariable";

// Define the palettes for your theme using your original setup converted to Angular 15 syntax
$my-app-primary: mat.define-palette(mat.$grey-palette, 900);
$my-app-primary-dark: mat.define-palette(mat.$grey-palette, 200);
$my-app-accent: mat.define-palette(mat.$amber-palette, 400);
$my-app-success: mat.define-palette(mat.$green-palette);

// The warn palette is optional (defaults to red).
$my-app-warn: mat.define-palette(mat.$red-palette);
$my-app-warn-dark: mat.define-palette(mat.$red-palette, 500);

// Create the theme object using your original structure converted to Angular 15 syntax
$my-app-theme: mat.define-light-theme((
  color: (
    primary: $my-app-primary,
    accent: $my-app-accent,
    warn: $my-app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$my-app-dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-app-primary-dark,
    accent: $my-app-accent,
    warn: $my-app-warn-dark,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Include theme styles for core and each component used in your app using Angular 15 syntax
@include mat.all-component-themes($my-app-theme);

.lightMode {
  a {
    color: #000 !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }

  .highcharts-background {
    fill: $softgray;
  }

  .highcharts-data-label text {
    font-size: 14px !important;
  }

  .mat-mdc-card {
    background-color: $softgray !important;
  }

  // calendar
  .fc-daygrid-event {
    border-color: $offwhite !important;
    background-color: $offwhite !important;
  }

  .mat-list-item:nth-child(odd) {
    background-color: rgb(230, 228, 228);
  }
}

.darkMode {
  @include mat.all-component-colors($my-app-dark-theme);

  // card
  .mat-mdc-card {
    background-color: $charcoal !important;
  }

  // highcharts
  .highcharts-background {
    fill: $charcoal;
  }

  .highcharts-title,
  .highcharts-subtitle,
  .highcharts-axis-labels text {
    fill: $white !important;
  }

  .highcharts-data-label text {
    // https://owumaro.github.io/text-stroke-generator/
    // text-shadow: rgb(32, 32, 32) 2px 0px 0px, rgb(32, 32, 32) 1.75517px 0.958851px 0px, rgb(32, 32, 32) 1.0806px 1.68294px 0px, rgb(32, 32, 32) 0.141474px 1.99499px 0px, rgb(32, 32, 32) -0.832294px 1.81859px 0px, rgb(32, 32, 32) -1.60229px 1.19694px 0px, rgb(32, 32, 32) -1.97998px 0.28224px 0px, rgb(32, 32, 32) -1.87291px -0.701566px 0px, rgb(32, 32, 32) -1.30729px -1.5136px 0px, rgb(32, 32, 32) -0.421592px -1.95506px 0px, rgb(32, 32, 32) 0.567324px -1.91785px 0px, rgb(32, 32, 32) 1.41734px -1.41108px 0px, rgb(32, 32, 32) 1.92034px -0.558831px 0px;
    text-shadow:
      -1px -1px 0 #202020,
      1px -1px 0 #202020,
      -1px 1px 0 #202020,
      1px 1px 0 #202020;
    fill: $white !important;
    font-size: 14px !important;
  }

  // calendar
  .fc .fc-toolbar-title,
  .mat-mdc-card-content {
    color: $white;
  }

  .fc-daygrid-event {
    border-color: $charcoal !important;
    background-color: $charcoal !important;
  }

  .fc-theme-standard .fc-list-day-cushion {
    background-color: $charcoal !important;
  }

  .income-item {
    color: $limegreen !important;
  }

  .expense-item {
    color: $neonred !important;
  }

  a {
    color: $white !important;
  }

  a:hover {
    color: #f7a105 !important;
    text-decoration: none !important;
  }

  .mat-list-item:nth-child(odd) {
    background-color: rgb(128, 128, 128);
  }

  .transaction-card {
    background-color: $charcoal;
    color: $white;

    .category-name,
    .transaction-date,
    .transaction-note,
    .transaction-amount {
      color: $white; // or adjust per need
    }

    .transaction-amount.income {
      color: $limegreen !important;
    }

    .transaction-amount.expense {
      color: $neonred !important;
    }
  }
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

@import "assets/scss/global.scss";

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";