<div class="overview">
  <!--Welcome-->
  <section class="welcome centered" *ngIf="isLoading">
    <label class="welcome-text lh-300">Welcome! {{ currentUser.firstName ? currentUser.firstName : currentUser.email }}
    </label>
    <label class="text-20">Manage all your finances in simplest way</label>
    <br>
    <a class="link" [routerLink]="'/gettingstarted'">
      Get Started
      <div class="link-icon">
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
      </div>
    </a>
  </section>

  <!--Filter-->
  <section class="filter flexStart mg-t15 mg-l10 mg-r10" *ngIf="!isLoading">
    <div class="filter-by-date">
      <div class="filter-transactions">
        <label class="text-16"><i class="fa fa-sliders"></i> Filter </label>
        <button mat-stroked-button color="warn" (click)="clearFilter()">Clear</button>
      </div>
      <div class="filter-condition">
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>month</mat-label>
          <mat-select [(ngModel)]="selectedMonth" (selectionChange)="onDateChange()">
            <mat-option *ngFor="let month of transactionMonths" [value]="month.key">{{month.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="width-100">
          <mat-label>year</mat-label>
          <mat-select [(ngModel)]="selectedYear" (selectionChange)="onDateChange()">
            <mat-option *ngFor="let year of transactionYears" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="dashboard-view">
      <mat-form-field appearance="fill" class="width-200">
        <mat-label>Change Dashboard View</mat-label>
        <mat-select [(ngModel)]="paymentMode" (selectionChange)="onViewChange()">
          <mat-option [value]="0">
            <img src="/assets/images/paymentModes/text-file.png" alt="summary" width="30px">
            Summary
          </mat-option>
          <mat-option *ngFor="let mode of paymentModes" [value]="mode.type">
            <img src="{{mode.icon}}" alt="{{mode.type}}" width="30px">
            {{mode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>

  <section class="summary" [hidden]="isLoading">
    <!--Expense Summary-->
    <div class="charts">
      <div class="flexCol">
        <!--Income Expense Summary-->
        <mat-card class="overview-bar">
          <div #IncomeExpenseSummaryContainer id="IncomeExpenseSummaryContainer">
            <span class="dataNotAvailable">Data is not available for this metric.</span>
          </div>
        </mat-card>

        <!--Total Savings-->
        <mat-card class="totalSavings-pie">
          <div #TotalSavingsContainer id="TotalSavingsContainer">
            <span class="dataNotAvailable">Data is not available for this metric.</span>
          </div>
        </mat-card>
      </div>

      <!--Expense Distribution by Category-->
      <div class="flexCol min-w60">
        <mat-card class="overview-pie">
          <highcharts-chart *ngIf="expenseDistBarOptions" [Highcharts]="Highcharts" [options]="expenseDistBarOptions">
          </highcharts-chart>
          <span *ngIf="!expenseDistBarOptions" class="dataNotAvailable">Data is not available for this metric.</span>
        </mat-card>

        <!--Calendar-->
        <mat-card class="calendar">
          <full-calendar #fullCalendar id="transactionViewCalendar" [options]="calendarOptions"></full-calendar>
        </mat-card>
      </div>
    </div>

    <!--Transactions List-->
    <div class="recent-transactions" #recentTransactionsSection>
      <mat-form-field class="search mg-lr10">
        <input type="text" matInput placeholder="Search by category or note" name="search" [(ngModel)]="search" (ngModelChange)="onSearchChange($event)">
        <button type="button" matSuffix mat-button color="primary" (click)="onSearchButtonClick()"><i class="fa fa-search"></i></button>
      </mat-form-field>
      <label class="text-24 mg-lr10 pd-b10" *ngIf="!transactions.length">
        <span class="warn-color">Transactions not available</span>
        <span *ngIf="paymentMode"> for <img src="{{dashboardView?.icon}}" alt="{{dashboardView?.type}}" width="30px"> {{dashboardView?.name}}</span>
        <span *ngIf="selectedMonth"> in {{months[selectedMonth - 1]?.value}}<span *ngIf="selectedYear">, {{selectedYear}}</span></span>
        <span *ngIf="search"> with search keyword
          <span class="primary-color">{{search}}</span>
        </span>
      </label>
      <div class="transaction-list">
        <app-transaction-list [transactions]="transactions" [currencySymbol]="currency.symbol">
        </app-transaction-list>
      </div>
    </div>

    <!--Add Transaction Button-->
    <button mat-icon-button color="primary" class="add-transaction" (click)="openAddTransactionModal()" [matTooltip]="'Add Transaction'" @fade>
      <img src="/assets/images/plus.png" alt="Add Transaction" width="60px" />
    </button>
  </section>
</div>