<cdk-virtual-scroll-viewport [itemSize]="90">
  <div *cdkVirtualFor="let transaction of transactions" class="transaction-item">
    <div class="transaction-content">
      <img class="category-icon" [src]="getCategoryIcon(transaction.category.name!)" alt="icon" />

      <div class="transaction-info">
        <div class="category-name">{{ transaction.category.name }}</div>
        <div class="transaction-date">{{ transaction.displayDate?.month }} {{ transaction.displayDate?.day }}, {{ transaction.displayDate?.year }}</div>
        <div class="transaction-note" *ngIf="transaction.note">{{ transaction.note }}</div>
      </div>

      <div class="transaction-meta">
        <div class="transaction-amount" [ngClass]="transaction.category.type === 'expense' ? 'expense' : 'income'">
          {{ currencySymbol }}{{ transaction.displayAmount }}
        </div>
        <div class="transaction-actions">
          <button mat-icon-button class="icon-btn" matTooltip="Edit" (click)="openAddTransactionModal(transaction)">
            <i class="fa fa-edit"></i>
          </button>
          <button mat-icon-button class="icon-btn" matTooltip="Delete" (click)="confirmDialog(transaction)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
