<body>
    <section class="background bg-gold">
        <div class="header">
            <nav class="fixed">
                <ul>
                    <li><a href="javascript:void(0)">Home</a></li>
                    <li><a href="javascript:void(0)">Features</a></li>
                    <li><a href="javascript:void(0)">Contact Us</a></li>
                </ul>
            </nav>
        </div>
        <section class="title">
            <div class="text">
            <h1>Welcome to<br> <span>Budget Manager</span></h1>
            <p>Manage all your finances in simplest way
            </p>
           </div>
       </section>
   </section>
</body>
 