.background {
    height: 100vh;
    width: 100%;
    // background-image: url(../../../assets/images/bg.png);
    background-position: center;
    background-size: cover;
    padding-right: 3%;
    padding-left: 5%;
    box-sizing: border-box;
    position: relative;
}

.bg-gold {
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ffed4b 50%, #f7a105 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.header {
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.fixed {
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(5px);
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

.title {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.title .text {
    position: relative;
    max-width: 600px;
}

.title .text h1 {
    font-weight: 800;
    margin-top: 80px;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-size: 40px;
}

.title .text h1 span {
    font-size: 50px;
}

.title .text p {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .1em;
}

@media (max-width: 490px) {
    .title .text h1 {
        font-size: 30px;
    }

    .title .text h1 span {
        font-size: 40px;
    }

    .title .text p {
        font-size: 13px;
    }
}