// global reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mg-10 {
  margin: 10px;
}

.mg-t5 {
  margin-top: 5px;
}

.mg-t10 {
  margin-top: 10px;
}

.mg-t15 {
  margin-top: 15px;
}

.mg-t20 {
  margin-top: 20px;
}

.mg-l5 {
  margin-left: 5px;
}

.mg-l10 {
  margin-left: 10px;
}

.mg-r10 {
  margin-right: 10px;
}

.mg-b10 {
  margin-bottom: 10px;
}

.mg-b20 {
  margin-bottom: 20px;
}

.pd-10 {
  padding: 10px;
}

.pd-t10 {
  padding-top: 10px;
}

.pd-tr10 {
  padding: 10px 10px 0 0;
}

.pd-t20 {
  padding-top: 20px;
}

.pd-b10 {
  padding-bottom: 10px;
}

.pd-b20 {
  padding-bottom: 20px;
}

.pd-b30 {
  padding-bottom: 30px;
}

.pd-r10 {
  padding-right: 10px;
}

.pd-l40 {
  padding-left: 40px;
}

.pd-tb20 {
  padding: 20px 0 20px 0;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-25 {
  font-size: 25px;
}

.text-35 {
  font-size: 35px;
}

.text-right {
  text-align: right;
}

.italics {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.lh-300 {
  line-height: 100%;
}

.primary-color {
  color: #f2b341;
}

.warn-color {
  color: red;
}

.pointer {
  cursor: pointer;
}

.w-100perc {
  width: 100%;
}

.min-w60 {
  min-width: 60%;
}

.dataNotAvailable {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.align-right {
  position: absolute !important;
  right: 10px;
  top: 15px;
  z-index: 1;
}

.text-truction {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flex {
  display: flex;
}

.flexStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  // gap: 5px;
}

.flexColCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.flexRowCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.hidden {
  visibility: hidden;
}

input.numberic-text::-webkit-outer-spin-button,
input.numberic-text::-webkit-inner-spin-button {
  display: none;
}

input.numberic-text {
  -moz-appearance: textfield;
}

// fullcalendar
.fc .fc-col-header-cell-cushion {
  color: #000;
}

.fc .fc-daygrid-day-number {
  color: #000;
}

.fc .fc-day-today {
  background-color: #f2b341 !important;
}

.fc .fc-toolbar-title {
  color: #000;
}

// custom-scrollbar
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px gainsboro;
  // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f2b341;
  border-radius: 10px;
  min-height: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f3a513;
}

.mat-card {
  overflow: hidden !important;
}

.mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: space-between !important;
}

.icon-3x {
  transform: scale(2);
}

.icon-3x {
  transform: scale(3);
}

.word-break {
  word-break: break-all;
}

.text-overflow {
  text-overflow: ellipsis;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
}

.box-shadow {
  -webkit-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.33);
  box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.33);
}

.backdrop {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgb(0,0,0,0.2);
}

@media (max-width: 490px) {
  .sidebar,
  .settingsForm {
    padding-top: 66px;
  }
}