<h2 mat-dialog-title>{{isEditTransaction? 'Edit transaction' : 'Add transaction'}}</h2>
<mat-dialog-content>
  <section class="pd-b10" *ngIf="mostUsedCategories?.length">
    <mat-label>Mostly used categories</mat-label>
    <div class="mostly-used-categories pd-10">
      <button *ngFor="let category of mostUsedCategories" mat-fab color="accent" 
      [style.backgroundImage]="'url(' + category.icon + ')'"
      [style.backgroundSize]="'cover'"
      [matTooltip]="category.name"
      (click)="setCategory(category)"></button>
    </div>
  </section>

  <form class="add-transaction-form" [formGroup]="addTransactionForm" (ngSubmit)="newTransaction()">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [compareWith]="compareWith" formControlName="category">
        <mat-option *ngFor="let category of categories" [value]="category">
          <img class="category-icon" aria-hidden [src]="category.icon" alt="category-icon" height="25">
            <span>{{category.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input matInput type="number" class="numberic-text" formControlName="amount" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="mm/dd/yyyy" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mode of Payment</mat-label>
      <mat-select formControlName="paymentMode">
        <mat-option *ngFor="let mode of paymentModesList" [value]="mode.type">
          <img class="payment-icon" aria-hidden [src]="mode.icon" alt="payment-icon" height="25">
            <span>{{mode.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Add a note</mat-label>
      <input matInput formControlName="note">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" mat-button [mat-dialog-close]="true">Cancel</button>
  <button type="submit" mat-raised-button color="accent" (click)="addTransaction()">Save</button>
</mat-dialog-actions>
