.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2F323E;
  color: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo, .settings {
  display: flex;
  align-items: flex-end;
  margin: 10px;
  padding: 0 10px;
}

.profile {
  margin: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-items {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 330px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
