.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2f323e;
  color: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo,
.settings {
  display: flex;
  align-items: flex-end;
  margin: 10px;
  padding: 0 10px;
}

.profile {
  margin: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-items {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

$color: #f7a105;

.login-btn {
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 10%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

@media (max-width: 490px) {
  .navbar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .login-btn {
    margin: 15px;
  }
}

