.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2f323e;
  color: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 82px;
}

.logo,
.settings {
  display: flex;
  align-items: flex-end;
  padding: 0 10px;
}

.profile {
  margin: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-items {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

$color: #f7a105;

.login-btn {
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 10%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

@media (max-width: 505px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    .flexStart {
      align-self: flex-start;
    }
  
    .flexEnd {
      align-self: flex-end;
    }
  }

  .login-btn {
    margin: 15px;
  }

  .profile {
    margin: 5px;
  }
}

/* Container for the toggle */
.theme-toggle {
  display: inline-block;
}

/* The toggle container */
.toggle-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide the checkbox */
.toggle-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  border-radius: 50px;
  transition: background-color 0.4s;
}

/* Moon and Sun Icons */
.icon-moon,
.icon-sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  transition: opacity 0.4s;
}

.icon-moon {
  left: 10px;
  opacity: 1;
}

.icon-sun {
  right: 10px;
  opacity: 0;
  color: #fdd835;
}

/* When the checkbox is checked */
.toggle-container input:checked + .slider {
  background-color: #000;
}

.toggle-container input:checked + .slider .icon-moon {
  opacity: 0;
}

.toggle-container input:checked + .slider .icon-sun {
  opacity: 1;
}