.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #2f323e;
  color: #fff;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo,
.settings {
  display: flex;
  align-items: flex-end;
  margin: 10px;
  padding: 0 10px;
}

.profile {
  margin: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-items {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

$color: #f7a105;

.login-btn {
  display: inline-block;
  border-radius: 10rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 10%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

@media (max-width: 505px) {
  .navbar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }

  .login-btn {
    margin: 15px;
  }
}

input {
  --s: 25px;
  /* control the size */

  height: var(--s);
  width: calc(2*var(--s));
  border-radius: var(--s);
  border: calc(var(--s)/10) solid #0000;
  padding: calc(var(--s)/10);
  background:
    conic-gradient(#8FBE00 50%, #CC333F 0)
    /* the colors here */
    border-box var(--p, left)/200%;
  mask:
    radial-gradient(50% 50%, #000 98%, #0000) no-repeat var(--p, left)/calc(3*var(--s)/5) content-box,
    linear-gradient(#000 0 0) padding-box,
    linear-gradient(#000 0 0);
  mask-composite: source-over, xor;
  mask-composite: add, exclude;
  transition: .5s;
  cursor: pointer;
  appearance: none;
}

input:checked {
  --p: right;
}

input:disabled {
  background: #948C75;
  cursor: not-allowed;
  --p: center;
}

input:focus-visible {
  border-color: #0009;
}