.add-transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-icon, .payment-icon {
  margin: 10px;
}

.mostly-used-categories {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow: auto;
}

@media (max-width: 330px) {
  .add-transaction-form {
    justify-content: space-between;
  }
}

// Fix for dialog content padding to prevent mat-label from being cut off
::ng-deep .mdc-dialog__title + .mdc-dialog__content,
::ng-deep .mdc-dialog__header + .mdc-dialog__content {
  padding-top: 5px !important;
}
