.sidebar {
  height: calc(100vh - 82px);
}

mat-sidenav-content {
  height: calc(100vh - 82px);
  overflow-y: auto;
}

@media (max-width: 505px) {
  .sidebar {
    height: calc(100vh - 52px);
  }
  
  mat-sidenav-content {
    height: calc(100vh - 52px);
  }
}