.sidebar {
  height: calc(100vh - 82px);
}

mat-sidenav-content {
  height: calc(100vh - 82px);
  overflow-y: auto;
}

@media (max-width: 768px) { // Updated to match header breakpoint
  .sidebar {
    height: calc(100vh - 100px); // Updated to match new mobile header height
  }
  
  mat-sidenav-content {
    height: calc(100vh - 100px); // Updated to match new mobile header height
  }
}