.login-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  .login {
    margin-top: 1rem;
    margin-left: 15rem;
  }
}

.logo {
  display: flex;
  flex-direction: column;
}

.google-btn,
.fb-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.google {
  background-color: #dd4b39;
  color: white;
}

.fb {
  background-color: #3b5998;
  color: white;
}

@media (max-width: 715px) {
  .login-card {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 1rem;
  }
}
