<img src="assets/images/broke-wallet.gif" alt="Broke Wallet" alt="Preload GIF" style="display: none;"/>

<div class="no-internet-overlay" *ngIf="isOffline">
    <div class="content">
        <img src="assets/images/broke-wallet.gif" alt="Broke Wallet" />
        <h1>Oops! No Internet... 💸</h1>
        <p>Looks like your internet budget ran out! 🫠</p>
        <p>Try reconnecting before your savings disappear too!</p>

        <button (click)="retryConnection()">💰 Try Again</button>
    </div>
</div>