.contact-details {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--container-padding-desktop);
  
  @media (max-width: 768px) {
    padding: var(--container-padding-desktop) var(--container-padding-tablet);
  }
  
  @media (max-width: 480px) {
    padding: var(--container-padding-tablet) var(--container-padding-mobile);
  }
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  button {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

.check-circle {
  color: limegreen;
}
