.contact-details {
  padding: 1rem;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  button {
    align-self: flex-start;
    margin-top: 1rem;
  }
}

.check-circle {
  color: limegreen;
}
