<main class="contact-details">
    <section *ngIf="!messageSent && !contactedUs" aria-label="Contact form">
        <mat-card>
            <h1 class="heading-1">How can we help?</h1>
            <h2 class="heading-2">For all enquires, please email us using the form below.</h2>
            <form class="contact-us-form" [formGroup]="contactUsForm" aria-label="Contact us form">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput type="text" formControlName="firstName" aria-label="Enter your first name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput type="text" formControlName="lastName" aria-label="Enter your last name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" aria-label="Enter your email address">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Message</mat-label>
                    <textarea matInput formControlName="message" aria-label="Enter your message"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onSubmit()" type="submit" aria-label="Submit contact form">Submit</button>
            </form>
        </mat-card>
    </section>

    <section *ngIf="messageSent || contactedUs" aria-label="Success message">
        <mat-card class="pd-10">
            <i class="fa fa-check-circle check-circle" aria-hidden="true"></i>
            <h1 class="heading-1">Thank you for getting in touch. We have received your message. Someone from team will connect with you soon!</h1>
        </mat-card>
    </section>
</main>