<section class="contact-details">
    <mat-card *ngIf="!messageSent && !contactedUs">
        <h1>How can we help?</h1>
        <h3>For all enquires, please email us using the form below.</h3>
        <form class="contact-us-form" [formGroup]="contactUsForm">
            <mat-form-field appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" formControlName="lastName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <textarea matInput formControlName="message"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        </form>
    </mat-card>

    <mat-card class="pd-10" *ngIf="messageSent || contactedUs">
        <i class="fa fa-check-circle check-circle"></i>
        <h2>Thank you for getting in touch. We have received your message. Someone from team will connect with you soon!</h2>
    </mat-card>
</section>