<mat-card class="transaction-card">
  <mat-card-content>
    <div class="transaction-details">
      <time class="date-icon">
        <em>{{transaction.displayDate?.weekday}}</em>
        <strong>{{transaction.displayDate?.month}} {{transaction.displayDate?.year}}</strong>
        <span>{{transaction.displayDate?.day}}</span>
      </time>
      <div class="transaction-desc">
        <label class="text-16 word-break">{{transaction.category.name}}</label>
        <img class="category-icon" aria-hidden [src]="getCategoryIcon(transaction.category.name!)" alt="category-icon" height="55">
        <span class="transaction-price text-25"
          [ngClass]="(transaction.category.type === 'expense') ? 'expense-item' : 'income-item'">
          {{currencySymbol}}{{transaction.displayAmount}}
        </span>
      </div>
    </div>
    <label class="text-16 mg-t20 word-break" *ngIf="transaction.note">{{transaction.note}}</label>
  </mat-card-content>

  <mat-card-actions class="modify">
    <button mat-icon-button color="primary" class="mg-t5" [matTooltip]="'Edit'" (click)="openAddTransactionModal(); sendMessage();" [attr.aria-label]="'edit'">
      <i class="fa fa-edit fa-2x"></i>
    </button>
    <button mat-icon-button color="warn" [matTooltip]="'Delete'" (click)="confirmDialog()" [attr.aria-label]="'delete'">
      <i class="fa fa-trash fa-2x"></i>
    </button>
  </mat-card-actions>
</mat-card>
