.settingsForm {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
  padding: 50px;
  overflow-x: hidden;
}

.settings,
.backup-restore,
.danger-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.upload_instructions {
  margin-left: 2rem;
}

@media (max-width: 850px) {
  .settingsForm {
    flex-direction: column;
  }
}
