<form class="settingsForm centered">
  <div class="settings">
    <mat-form-field appearance="fill">
      <mat-label>Currency</mat-label>
      <mat-select [formControl]="currencyCtrl" [compareWith]="compareWith" [(ngModel)]="currentSettings.currency">
        <mat-option *ngFor="let currency of currencyList" [value]="currency">
          {{currency.name}}({{currency.symbol}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <div class="flexStart">
      <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-select [formControl]="categoryCtrl" multiple>
          <mat-select-trigger>
            {{categoryCtrl.value ? categoryCtrl.value[0]?.name : ''}}
            <span *ngIf="categoryCtrl.value?.length > 1">
              (+{{categoryCtrl.value.length - 1}} {{categoryCtrl.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let category of categoryList" [value]="category"><img src={{category.icon}}
              width="25px" /> {{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button color="primary" (click)="openAddCategoryModal()" [matTooltip]="'Add category'">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="deleteCategoryModal()" [matTooltip]="'Delete categories'">
        <mat-icon>delete</mat-icon>
      </button>
    </div> -->

    <button type="submit" mat-raised-button color="accent" (click)="updateSettings()">Save</button>
  </div>

  <div class="backup-restore">
    <h2>Backup and Restore</h2>
    <p>Backup your data by exporting it to a spreadsheet</p>
    <button type="button" mat-raised-button color="primary">Export Spreadsheet</button>
    <br>
    <p>Insert data into your account by uploading a spreadsheet</p>
    <div class="flexStart">
      <button type="button" mat-raised-button color="primary" (click)="openModal(confirmUploadModal)"
        [disabled]="isLoading">Upload
        Spreadsheet</button>
      <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
    </div>
    <input class="hidden" type="file" accept=".xlsx" #filePicker (change)="uploadSpreadsheet($event)">
  </div>
</form>

<ng-template #confirmUploadModal>
  <div class="modal-header">
    <h2 class="modal-title">Upload Spreadsheet</h2>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="confirmUploadmodalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Before uploading your spreadsheet, please make sure of the following,
    <div class="upload_instructions">
      <ol>
        <li>
          Columns of your sheet should be <br>
          A: Date (date of your transaction) <br>
          B: Category (find all the categories in the settings) <br>
          C: Amount (without currency) <br>
          D: Note
        </li>
        <li>
          Categories of your transactions should match with the listed categories in the settings
        </li>
      </ol>
    </div>
    <strong>Proceed with uploading your spreadsheet?</strong>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button (click)="closeModal()">No</button>
    <button type="submit" mat-raised-button color="accent" (click)="browseFile()">Yes</button>
  </div>
</ng-template>