.settingsForm {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
  padding: 50px;
  overflow-x: hidden;
}

.settings,
.backup-restore,
.danger-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.income {
  color: green;
}

.expense {
  color: red;
}

.upload_instructions {
  margin-left: 2rem;
}

.add-category-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-button-toggle-group {
  flex-wrap: wrap;
  border: 0;
  height: 200px;
  overflow: scroll;
  .mat-button-toggle {
    border: 0;
  }
}

.icon {
  width: 41px;
}

@media (max-width: 850px) {
  .settingsForm {
    flex-direction: column;
  }
}
