.welcome {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 100px;
}

.welcome-text {
  font-size: 35px;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 3px;
}

.filter-by-date {
  display: flex;
  align-items: center;
}

.filter-condition {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: 3fr 1fr auto;
  // grid-template-rows: 1fr;
}

.charts {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.overview {
  overflow: hidden;
}

.overview-pie,
.overview-bar,
.calendar,
.totalSavings-pie {
  display: grid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25) !important;
  background-color: #fff;
  .mat-card {
    background-color: #000 !important;
  }
}

:host ::ng-deep {
  .fc-daygrid {
    cursor: pointer;
  }
  .fc-event-main {
    cursor: default;
  }
}

.overview-pie {
  width: 100%;
}

.recent-transactions {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding-right: 5px;
}

// .transaction-list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   font-size: calc(10px + 2vmin);
//   height: calc(100vh - 330px);
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

.add-transaction {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  height: 70px;
  width: 70px;
  background-color: #4caf50;
  opacity: 0.9;
  z-index: 1;
}

.add-transaction:hover {
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}

.link {
  height: 30px;
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
  
}

.link-icon {
  position: relative;
  width: 35px;
  height: 35px;
  background: #f2b341;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;

  /*  Remove overflow to see how it worksã€€:) */
  overflow: hidden;
}

.icon {
  display: block;
  position: absolute;
  transition: transform 0.4s ease;
}

.icon:nth-child(2) {
  transform: translate(-40px);
}

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-20px);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(40px);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

@media (max-width: 1329px) {
  .summary {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }
  .recent-transactions {
    padding-top: 40px;
    width: 40%;
  }
}

@media (max-width: 940px) {
  .charts {
    display: flex;
    flex-direction: column;
  }
  .recent-transactions {
    width: 40%;
  }
}

@media (max-width: 575px) {
  .filter {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .welcome-text {
    font-size: 25px;
  }
}

@media (max-width: 555px) {
  .add-transaction {
    height: 60px;
    width: 60px;
    bottom: 10px;
  }
  .recent-transactions {
    min-width: 0;
    width: 90%;
  }
  .dashboard-view {
    margin-left: 25px;
  }
}

@media (max-width: 330px) {
  .filter {
    align-items: center;
  }
  .add-transaction {
    height: 60px;
    width: 60px;
  }
  .recent-transactions {
    min-width: 0;
    width: 90%;
  }
}

.card-wrapper {
  transform-style: preserve-3d;
}

.front {
  transform: rotateY(180deg);
}