<div class="overview">
  <section class="welcome centered" *ngIf="!transactions.length">
    <label class="welcome-text lh-300">Welcome! {{ currentUser.firstName ? currentUser.firstName : currentUser.email }}
    </label>
    <label class="text-20">Manage all your finances in simplest way</label>
    <br>
    <a class="link" [routerLink]="'/gettingstarted'">
      Get Started
      <div class="link-icon">
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
          clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
        <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
          clip-rule="evenodd">
          <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
        </svg>
      </div>
    </a>
  </section>

  <!--Filter-->
  <section class="filter flexStart mg-t15 mg-l10 mg-r10" *ngIf="transactions.length">
    <div class="filter-by-date">
      <div class="filter mg-r10">
        <mat-icon>filter_list</mat-icon>
        <label class="text-14 uppercase">Filter</label>
      </div>
      <div class="filter-condition">
        <mat-form-field>
          <mat-label>Select Month</mat-label>
          <mat-select [(ngModel)]="selectedMonth" (selectionChange)="filterByDate()">
            <mat-option *ngFor="let month of transactionMonths" [value]="month.key">{{month.value}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select Year</mat-label>
          <mat-select [(ngModel)]="selectedYear" (selectionChange)="filterByDate()">
            <mat-option *ngFor="let year of transactionYears" [value]="year">{{year}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="flexCenter mg-l10">
        <mat-icon class="pointer" [matTooltip]="'Clear Filter'" (click)="clearFilter()">clear</mat-icon>
      </div>
    </div>

    <div class="dashboard-view">
      <mat-form-field>
        <mat-label>Change Dashboard View</mat-label>
        <mat-select [(ngModel)]="selectedView" (selectionChange)="onViewChange($event.value)">
          <mat-option [value]="0">Summary</mat-option>
          <mat-option *ngFor="let mode of paymentModes" [value]="mode.type">
            <img src="{{mode.icon}}" alt="{{mode.type}}" width="30px">
            {{mode.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </section>

  <section class="summary">
    <div class="charts" [hidden]="!filteredTransactions.length">
      <div class="flexCol">
        <!--Income Expense Summary-->
        <mat-card class="overview-bar">
          <div #IncomeExpenseSummaryContainer id="IncomeExpenseSummaryContainer">
            <span class="dataNotAvailable">Data is not available for this metric.</span>
          </div>
        </mat-card>

        <!--Total Savings-->
        <mat-card class="totalSavings-pie">
          <div #TotalSavingsContainer id="TotalSavingsContainer">
            <span class="dataNotAvailable">Data is not available for this metric.</span>
          </div>
        </mat-card>
      </div>

      <!--Expense Distribution by Category-->
      <div class="flexCol min-w60">
        <mat-card class="overview-pie">
          <highcharts-chart *ngIf="expenseDistOptions" [Highcharts]="Highcharts" [options]="expenseDistOptions">
          </highcharts-chart>
          <span *ngIf="!expenseDistOptions" class="dataNotAvailable">Data is not available for this metric.</span>
        </mat-card>

        <!--Calendar-->
        <mat-card class="calendar">
          <full-calendar #fullCalendar id="transactionViewCalendar" [options]="calendarOptions"></full-calendar>
        </mat-card>
      </div>
    </div>

    <!--Transactions List-->
    <div class="recent-transactions" *ngIf="filteredTransactions.length">
      <mat-form-field class="search mg-10" [hidden]="!transactions.length">
        <input type="text" matInput placeholder="Search by category or note" name="search" [(ngModel)]="search"
          (ngModelChange)="filterbySearch()">
        <button matSuffix mat-button>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <!-- <label class="text-20 mg-t10">Recent Transactions</label> -->
      <div class="transaction-list">
        <app-transaction-list [transactions]="filteredTransactions" [currencySymbol]="currency.symbol">
        </app-transaction-list>
      </div>
    </div>

    <!--Add Transaction Button-->
    <button mat-icon-button class="add-transaction" (click)="openAddTransactionModal()" @fade>
      <img src="/assets/images/plus.png" alt="Add Transaction" width="60px" />
    </button>
  </section>

  <section class="welcome centered" *ngIf="!filteredTransactions.length && transactions.length">
    <img src="/assets/images/warning.png" alt="Data not available" width="40px" />
    <h2>Transactions not available</h2>
  </section>
</div>