.welcome {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 100px;
}

.welcome-text {
  font-size: 35px;
}

.filter {
  display: flex;
  gap: 15px;
}

.filter-condition {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}

.summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // display: grid;
  // grid-template-columns: 3fr 1fr auto;
  // grid-template-rows: 1fr;
}

.charts {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  padding: 10px;
}

.overview {
  overflow: hidden;
}

.overview-pie,
.overview-bar,
.calendar,
.totalSavings-pie {
  display: grid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25) !important;
  background-color: #fff;
}

.overview-pie {
  width: 100%;
}

.recent-transactions {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  padding-right: 5px;
}

// .transaction-list {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   font-size: calc(10px + 2vmin);
//   height: calc(100vh - 330px);
//   overflow-y: scroll;
//   overflow-x: hidden;
// }

.add-transaction {
  position: fixed;
  bottom: 0px;
  right: 30px;
  margin: 10px;
  height: 70px;
  width: 70px;
  background-color: #4caf50;
  opacity: 0.9;
  z-index: 1;
}

.plus-icon {
  color: #fff;
}

.add-transaction:hover {
  transform: rotate(90deg);
  transition: all 0.25s ease-in-out;
}

@media (max-width: 1329px) {
  .summary {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .recent-transactions {
    padding-top: 40px;
  }
}

@media (max-width: 938px) {
  .charts {
    display: flex;
    flex-direction: column;
  }
  // .recent-transactions {
  //   width: 80%;
  // }
}

@media (max-width: 575px) {
  .welcome-text {
    font-size: 25px;
  }
}

@media (max-width: 555px) {
  .add-transaction {
    height: 60px;
    width: 60px;
  }
  .filter-condition {
    flex-direction: column;
  }
}

@media (max-width: 330px) {
  .summary {
    padding: 140px 0;
  }
  .add-transaction {
    height: 60px;
    width: 60px;
  }
}
