<mat-nav-list class="sidebar-nav">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-dashboard"></i>
    <span class="body-normal">Dashboard</span>
  </a>
  
  <a mat-list-item routerLink="/settings" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-cog"></i>
    <span class="body-normal">Settings</span>
  </a>
  
  <a mat-list-item routerLink="/contactus" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-envelope"></i>
    <span class="body-normal">Contact Us</span>
  </a>
  
  <a mat-list-item routerLink="/gettingstarted" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-question-circle"></i>
    <span class="body-normal">Getting Started</span>
  </a>
</mat-nav-list>