<mat-nav-list class="sidebar-nav">
  <a mat-list-item routerLink="/dashboard" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-dashboard"></i>
    Dashboard
  </a>
  
  <a mat-list-item routerLink="/settings" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-cog"></i>
    Settings
  </a>
  
  <a mat-list-item routerLink="/contactus" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-envelope"></i>
    Contact Us
  </a>
  
  <a mat-list-item routerLink="/gettingstarted" routerLinkActive="mdc-list-item--selected" [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">
    <i class="fa fa-question-circle"></i>
    Getting Started
  </a>
</mat-nav-list>