<div class="sidebar">
  <div class="sidebar-items">
    <a [routerLink]="'/overview'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
      (click)="onSelectItem()">Home</a>
    <a href="javascript:void(0)" [routerLink]="'/settings'" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">Settings</a>
    <a href="javascript:void(0)" [routerLink]="'/contactus'" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }" (click)="onSelectItem()">Contact Us</a>
  </div>
</div>