<main class="getting-started" role="main">
    <h1 class="heading-1">Let's get started!</h1>
    <br>
    <ol class="body-large" aria-label="Getting started instructions">
        <li>Click on the + button on the dashboard page to add your first transaction. You can also add your transaction using the calendar.</li>
        <li>To set your currency, go to settings</li>
        <li>To add, edit and delete a category, go to settings</li>
        <li>To export your transactions to a spreadsheet or to add transactions from a spreadsheet, go to settings</li>
    </ol>
</main>