<section class="getting-started">
    <label class="text-20">Let's get started!</label>
    <br>
    <label class="text-16">1. Click on the + button on the overview page to add your first transaction. You can also add your transaction using the calendar.</label>
    <label class="text-16">2. To set your currency, go to settings</label>
    <label class="text-16">3. To add, edit and delete a category, go to settings</label>
    <label class="text-16">4. To export your transactions to a spreadsheet or to add transactions from a spreadsheet, go to settings</label>
</section>