<section class="getting-started">
    <h1 class="heading-1">Let's get started!</h1>
    <br>
    <p class="body-large">1. Click on the + button on the dashboard page to add your first transaction. You can also add your transaction using the calendar.</p>
    <p class="body-large">2. To set your currency, go to settings</p>
    <p class="body-large">3. To add, edit and delete a category, go to settings</p>
    <p class="body-large">4. To export your transactions to a spreadsheet or to add transactions from a spreadsheet, go to settings</p>
</section>